# azure-cognitiveservices-speech is for AzureEngine
azure-cognitiveservices-speech==1.41.1

# coqui_tts is for CoquiEngine
coqui_tts==0.24.3

# elevenlabs is for ElevenlabsEngine
elevenlabs==1.12.1

# gtts is for GTTSEngine
gtts==2.5.3

# openai is for OpenAIEngine
openai==1.54.3

# pyttsx3 is for SystemEngine
pyttsx3==2.98

# pyaudio is for playing chunks over output device
pyaudio==0.2.14

# pydub is used to convert chunks from mp3 to pcm (for openai tts)
pydub==0.25.1

# resampy is used to resample from the tts to the target device sample rate 
resampy==0.4.3

# stream2sentence is to quickly convert streamed text into sentences for real-time synthesis
stream2sentence==0.2.7
